{% load static %}
{% include 'header.html' %}
<br><br><br><br><br>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="section-title">
                    <div class="section-subtitle" style="margin-bottom:7px;
                         padding-left:7px;
                         text-transform:uppercase;
                         color:#aaaaa;
                         font-size:70px;
                         font-family:sans serif;
                         border-left:3px solid;
                         line-height:1;">
                        About Us
                    </div>
                    <h2 class="section-main-title" style="margin-bottom:30px;
                                                          font-size:30px;font-family:bookman old style;">We are <strong>Proffesionals</strong> </h2>
                </div>
                <div class="about-item" style="font-family:bookman old style" >
                    <p class="text-justify">Our company is one of the top rankers in providing quality logistic services in Mumbai and nearby regions. This has been made possible by the support of our professionally trained workers, great customer support, our ethics and our community of satisfied clients.
To provide quality packing services to our valuable customers we use bubble sheets to protect delicate items, Cargo sheets to cover wooden items, cartoon boxes to pack up your essentials and lamination to cover up everything and protect from rainwater. With these materials, your goods are transported to the destination scratch free. Along with the use of such packing techniques, Perfect Cargo Packers and Movers also have a great support team which acts as the cherry on the cake.
Having witnessed such qualities, what are you waiting for? Just ask for the quotation and get your relocation done! .</p>
                </div>

            </div>
            <div class="col-sm-4 offset-sm-1">
               <div class="about-box">
                   <img src="{% static 'images/banner_large.png' %}" style="width:180%; height:100% " >
               </div>
            </div>
            <div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60257.29428530313!2d72.80470205820309!3d19.278848099999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b1d5689cf431%3A0xf267fb3c9e63958!2sElvin%20Logistics%20-%20Packers%20%26%20Movers!5e0!3m2!1sen!2sin!4v1675535859617!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
            <!-- <iframe></iframe> for displaying location-->
        </div>
    </div>
</section>