{% load static %}
{% include 'header.html' %}


<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/images/image1.gif" alt="img1" width="1518" height="640">
    </div>
    <div class="carousel-item">
      <img src="/static/images/image2.jpg" alt="img2"  width="1518" height="640">
    </div>
    <div class="carousel-item">
      <img src="/static/images/image3.jpg" alt="img3"width="1518" height="640">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>


<h1 class="text-left" style="padding-top: 40px;padding-left: 60px;font-family:garamond,serif;font-weight:bold">About Us</h1>
<h3 class="text-wrap text-justify" style="width: 50rem;padding-top: 20px;padding-left: 60px ;font-family:goudy old style;font-size:20px">The Relocation Specialists  is a reputed brand in the market known for its effortless shifting techniques, scratch proof transportation and timely delivery services. We are among the few logistic companies that are specialists in their jobs.
    Thus we provide complete security to the goods of our clients and never leave any of our clients unsatisfied.<br>
    So you can rely on our services without any hesitation.To provide quality packing services to our valuable customers we use bubble sheets to protect delicate items, Cargo sheets to cover wooden items, cartoon boxes to pack up your essentials and lamination to cover up everything and protect from rainwater. With these materials, your goods are transported to the destination scratch free.<br> Along with the use of such packing techniques,
    Perfect Cargo Packers and Movers also have a great support team which acts as the cherry on the cake.
    Having witnessed such qualities, what are you waiting for? Just ask for the quotation and get your relocation done!</h3>
<a href="{% url 'about' %}" title="about" class="btn" style="position: relative; border-radius: 20px; margin-top: 0px;margin-left:250px;border: 3px solid red;margin-top:10px;text-align: center; background: orange;font-weight: 800;">Click here to know more..</a>
<div>
<h1 class="text-center" style="padding-top: 80px;font-family:garamond,serif;font-weight:bold">Get all Services under one Roof...</h1>
<div class="row" >
  <div class="column" style="float:left;padding:100px;padding-top: 30px;margin-left:20px">

    <img src="/static/images/packing-and-unpacking.jpg" alt="Snow" style="width:300px">
    <h3 class="text-center" style="font-family:georgia,serif">Packing and Unpacking</h3>
  </div>

  <div class="column" style="float:left;padding:110px;padding-top: 30px">
    <img src="/static/images/warehouse.jpg" alt="Forest" style="width:300px">
     <h3 class="text-center" style="font-family:georgia,serif">Warehouse Transportation</h3>
  </div>

  <div class="column" style="float:left;padding:10px;padding-top: 30px">
    <img src="/static/images/moving-resource.jpg" alt="Forest" style="width:300px">
    <h3 class="text-center" style="font-family:georgia,serif">Moving Resources</h3>
  </div>

  </div>
  <div class="column" style="float:left;padding:100px;padding-top:0rem">
    <img src="/static/images/car-transport.jpg" alt="Forest" style="width:300px;height:210px">
    <h3 class="text-center" style="font-family:georgia,serif">Vehicle Transportation</h3>
  </div>

<div class="column" style="float:left;padding:110px;padding-top:0rem">
    <img src="/static/images/Moving-Abroad.jpg" alt="Forest" style="width:300px;height:210px">
    <h3 class="text-center" style="font-family:georgia,serif">International Relocation</h3>
  </div>

<div class="column" style="float:left;padding:50px;padding-top:0rem">
    <img src="/static/images/air.jpg" alt="Forest" style="width:300px;height:210px">
    <h3 class="text-center" style="font-family:georgia,serif">Air Freight</h3>
  </div>
</div>

<div class="column">
    <h1 style="font-weight:bold;font-family:garamond,serif;float:left;padding:110px;padding-top:0rem;margin-left:270px">Ready for a Hassle-Free Happy Moving with Us</h1>
    <p style="font-family:georgia,serif;position:relative;float:left;padding-left:280px;padding-right:270px;top:-100px;text-align:center;font-size:23px">Book your move with Perfect Cargo Packers and Movers instantly and very easily. No more stress of managing all the shifting tasks; just book your slot and enjoy the professional experience.</p>
    <img src="/static/images/process.png" alt="Forest" style="width:1100px;height:208px;padding-top:10px;margin-left:210px;position:relative;top:-100px">
  </div>
<div class="card container pb-4" style="box-shadow: 1px 2px 3px 4px rgb(255, 165, 0);">
    <div class="card-body">
<h1  style="margin-left:310px;font-weight:bold;font-family:garamond,serif;">We are Transforming Cities</h1>
<a href="https://goo.gl/maps/tsRVyjMYioJ6jfur9" title="about" class="btn" style="position: relative; border-radius: 20px; margin-left:120px;border: 3px solid #335D9F;background-color:#C9DDFF;margin-top:10px;text-align: center; font-weight: 800;">Ahmedabad</a>
<a href="https://goo.gl/maps/HAFDWvLG5H8Xnm5c9" title="about" class="btn" style="position: relative; border-radius: 20px; margin-left:250px;border: 3px solid #335D9F;background-color:#C9DDFF;;margin-top:10px;text-align: center; ;font-weight: 800;">Bangalore</a>
<a href="https://goo.gl/maps/RQKZ823PQ5ugxN738" title="about" class="btn" style="position: relative; border-radius: 20px; margin-left:250px;border: 3px solid #335D9F;background-color:#C9DDFF;margin-top:10px;text-align: center; font-weight: 800;">Hyderabad</a>
<a href="https://goo.gl/maps/RXM2k1xufWpSfYzA9" title="about" class="btn" style="position: relative; border-radius: 20px; margin-left:130px;border: 3px solid #335D9F;background-color:#C9DDFF;margin-top:10px;text-align: center; font-weight: 800;">Lucknow</a>
<a href="https://goo.gl/maps/EDUumVMa52zsDBc37" title="about" class="btn" style="position: relative; border-radius: 20px; margin-left:259px;border: 3px solid #335D9F;background-color:#C9DDFF;margin-top:10px;text-align: center;font-weight: 800;">Coimbatore</a>
<a href="https://goo.gl/maps/f4jVDxoSV76mCMHd9" title="about" class="btn" style="position: relative; border-radius: 20px; margin-left:254px;border: 3px solid #335D9F;background-color:#C9DDFF;margin-top:10px;text-align: center;font-weight: 800;">Gurgaon</a>
<a href="https://goo.gl/maps/WMYSTSNLi7drvb5n7" title="about" class="btn" style="position: relative; border-radius: 20px; margin-left:135px;border: 3px solid #335D9F;background-color:#C9DDFF;margin-top:10px;text-align: center;font-weight: 800;">Nagpur</a>
<a href="https://goo.gl/maps/Km5PePU4CMxTrs1w6" title="about" class="btn" style="position: relative; border-radius: 20px; margin-left:279px;border: 3px solid #335D9F;background-color:#C9DDFF;margin-top:10px;text-align: center;font-weight: 800;">Kolkata</a>
<a href="https://goo.gl/maps/knT1yoYkdNZdipQT7" title="about" class="btn" style="position: relative; border-radius: 20px; margin-left:271px;border: 3px solid #335D9F;background-color:#C9DDFF;margin-top:10px;text-align: center; font-weight: 800;">Mumbai</a>
<a href="https://goo.gl/maps/yYeh1uR4KJ9f1Kws8" title="about" class="btn" style="position: relative; border-radius: 20px; margin-left:137px;border: 3px solid #335D9F;background-color:#C9DDFF;margin-top:10px;text-align: center;font-weight: 800;">Thane</a>
<a href="https://goo.gl/maps/jvarKsjaxSUnpDGSA" title="about" class="btn" style="position: relative; border-radius: 20px; margin-left:295px;border: 3px solid #335D9F;background-color:#C9DDFF;margin-top:10px;text-align: center;font-weight: 800;">Delhi</a>
<a href="https://goo.gl/maps/NwU8QirdQaMP2bNcA" title="about" class="btn" style="position: relative; border-radius: 20px; margin-left:289px;border: 3px solid #335D9F;background-color:#C9DDFF;margin-top:10px;text-align: center; font-weight: 800;">Indore</a>
<a href="https://goo.gl/maps/bUrmQfiio8jKmePc6" title="about" class="btn" style="position: relative; border-radius: 20px; margin-left:135px;border: 3px solid #335D9F;background-color:#C9DDFF;margin-top:10px;text-align: center; font-weight: 800;">Noida</a>
<a href="https://goo.gl/maps/SMHcnr4xiPgMLqsp7" title="about" class="btn" style="position: relative; border-radius: 20px; margin-left:297px;border: 3px solid #335D9F;background-color:#C9DDFF;margin-top:10px;text-align: center; font-weight: 800;">Surat</a>
<a href="https://goo.gl/maps/DVSYmxbkYBWNTv3q8" title="about" class="btn" style="position: relative; border-radius: 20px; margin-left:294px;border: 3px solid #335D9F;background-color:#C9DDFF;margin-top:10px;text-align: center;font-weight: 800;">Pune</a>
    </div>
</div>







<!-- footer start-->
<footer style="height:350px">

<div style="position:absolute;bottom:-2700px;background-color:#111111;">
    <h4 class="text-center text-light pt-5" style="font-family: fangsong;">The Relocation Specialists</h4>
        <p class="text-center text-primary">&copy; Divyanka</p>
  <div style="display: grid; grid-template-columns: 3fr 2fr 4fr;  align-items: stretch;">
    <div style="width: 100%;display: flex;  flex-direction: column;  padding: 0 2em;  min-height: 15em;padding-left:180px">
        <h3 style="width: 100%;text-align: left;color: white;font-size: 1.6em;font-weight:bold;white-space: nowrap;padding-top:8px;font-family: fangsong;">Connect</h3>
        <p style="color:white">
            <i class="fa-solid fa-map-location-dot"></i>   Sienna Towers, Service Road, Bangalore
        </p>

        <div  style="display: flex;  justify-content: space-around;  font-size: 2.4em;  flex-direction: row;  margin-top: 0.5em;color:white ">
            <i class="fa-brands fa-whatsapp"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
    </div>

    <div style="padding-left:210px">
        <h3 style="width: 100%;text-align: left;color: white;font-size: 1.6em;font-weight:bold;white-space: nowrap;padding-top:8px;font-family: fangsong;">Links</h3>
        <ul style="list-style: none;display: flex;flex-direction: column;padding: 0;margin: 0;font-family: fangsong;font-size: 1.2em">
            <li><a href="#home" style="color:#ded3d3">Home</a></li>
            <li><a href="#team" style="color: #a7a7a7">Team</a></li>
            <li><a href="#blogs" style="color: #a7a7a7">Blogs</a></li>
            <li><a href="#support" style="color: #a7a7a7">Support</a></li>
        </ul>
    </div>

    <div style="padding-left:200px">
        <h3 style="width: 100%;text-align: left;color: white;font-size: 1.6em;font-weight:bold;white-space: nowrap;padding-top:8px;font-family: fangsong;">Newsletter</h3>
        <div>
           <input type="email" placeholder="Your email id here" style=" font-size: 1em;  padding: 1em; width: 80%;  border-radius: 5px;  margin-bottom: 5px;" />
           <button style=" font-size: 1em;  padding: 1em;  width: 80%;  border-radius: 5px; margin-bottom: 5px; background-color: #c7940a; color: #ffffff;">Subscribe</button>
        </div>
    </div>

</div>
</div>
</footer>